/* Unity Shader Viewer theme by Xibanya
https://xibanya.github.io/UnityShaderViewer */

:root 
{
    --radius: 8px;
    --bgColor:#1E1E1E;
    --fgColor: #AEAEAE;
    --comment: #6A9955;
    --directive: #C586C0;
    --string: #ce9178;
    --keyword: #569cd6;
    --type: #9cdcfe;
    --number: #b5cea8;
    --footer-height: 34px;
    --footer-bg-color: rgb(60, 60, 60);
    --monospace: 'Inconsolata', monospace;
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap');
body 
{ 
  color: var(--fgColor); 
  background-color: var(--bgColor);
  font-family: 'Montserrat', sans-serif;
}
div.space 
{
    display: block;
    height: var(--footer-height);
}

/* Headers */
h1,h2,h3,h4,h5,h6 
{ 
    color: #f92aad;
    text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e65, 0 0 10px #fff3;
    background-color: transparent !important;
    margin-bottom: 2px; 
}
div.accent
{
    margin-top: -5px;
 margin-left: 15px;
 max-width: 300px;
 background-color: transparent !important;
 background-repeat: no-repeat;
 height: 2px;
 margin-bottom: 4px; 
 background-image: linear-gradient(to right, #fc28a8, #03edf9);
}
h1,h2 { padding-left: 0; }
h3,h4,h5,h6 { padding-left: 1em; }

/* Links */
a, input[type=submit]
{
    font-weight: bold;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
a:link { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Directory and Prettyprint Blocks */
.directory .linenums 
{ 
    margin-top: 0px; 
    color:  #6d77b3;
}
.directory a 
{
   color: var(--type);
   font-size: 18.4px;
   text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}
.directory > ul 
{
    margin-top: 8px;
    margin-bottom: 8px;
}
div.directory p {
    padding-left: 1em;
}
.directory
{
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.directory, code.prettyprint,
pre.prettyprint
{ 
    border-radius: var(--radius);
    font-family: 'Inconsolata', monospace;
    padding: 5px;
}
code.prettyprint, pre.prettyprint {
    color: var(--fgColor); 
    background-color: var(--bgColor);
}
pre.prettyprint
{
  width:95%; 
  margin:0.5em auto; 
  padding:0.5em; 
  white-space:pre-wrap;
}
pre .nocode 
{ 
    font-family: 'Montserrat', sans-serif;
    color: var(--fgColor); 
}
.paste-padded
{
    padding-top:250px; 
    padding-bottom:25px
}
div.feedback
{
   color: var(--directive);
   display: block;
   font-style: italic; 
   margin:0.5em auto;
   border-radius: var(--radius);
   background-color: var(--footer-bg-color);
}
div.feedback.hidden { display: none !important; }

ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE }
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: decimal !important; }

/* Footer */
footer 
{
    display: block;
    position: fixed;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: var(--footer-height);
    padding-top: 0.5em;
    color: #6d77b3;
    background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
    background-color: transparent !important;
    background-repeat: no-repeat;
    box-shadow: inset 0 -5px 25px #fc28a825;
}
footer > span
{
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding:0px;
    margin:0px;
    font-family: var(--monospace);
}
footer > span.source 
{
    display: block;
    position: fixed;
    text-align: left;
    padding-left: 2em;
}
footer > span.center 
{
    padding-left: 2em;
    padding-right: 0.5em;
    font-size: 115%;
}
footer > span.links 
{
    position: fixed;
    right: 0;
    text-align: right;
    padding-right: 2em;
}
footer > span.hidden { display: none; }
footer a { color: inherit; }
footer a:hover 
{ 
    color: #f92aad;
    text-shadow: 0 0 2px #100c0f, 0 0 6px #dc078e33, 0 0 12px #fff3;
}
footer .fa {
   margin-left:1em; 
}
@font-face 
{
    font-family: 'FontAwesome';
    src: url('Fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('Fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
    url('Fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
    url('Fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
    url('Fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
    url('Fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Brands';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("Fonts/fa-brands-400.eot");
    src: url("Fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("Fonts/fa-brands-400.woff2") format("woff2"), url("Fonts/fa-brands-400.woff") format("woff"), url("Fonts/fa-brands-400.ttf") format("truetype"), url("Fonts/fa-brands-400.svg#fontawesome") format("svg"); }
.fa 
{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fab { font-family: 'Brands'; }
.fa-twitter:before { content: "\f099"; }
.fa-github:before { content: "\f09b"; }
.fa-home:before { content: "\f015"; }
.fa-patreon:before { content: "\f3d9"; }

pre.preview 
{
    color: var(--type);
    border-radius: var(--radius);
    background-color: var(--footer-bg-color);
    width:95%; 
    margin:0.5em auto; 
    padding:0.5em; 
    white-space:pre-wrap;
}
pre.preview > p.preview
{
    margin-block-start:0px;
    margin-top:-6px;
}
pre.preview > a.highlight
{
    background-color: var(--directive);
    color: var(--bgColor);
    font-style: bold;
}

pre.prettyprinted > a.highlight {
    background-color: var(--directive) !important; 
    color: var(--bgColor) !important; 
    font-style: bold !important; 
    font-size: larger !important; 
}

div.directory.search-container {
    display: block;
}
div.directory.search-container.hidden {
    display: none !important;
}
input[type=text], select, textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: left;
    margin-top: 6px;
}
.paste-container {
    position: fixed;
    display: block;
    top:0;
    width:100%;
    border-radius: 5px;
    background-color: var(--footer-bg-color);
    padding: 20px;
    box-sizing: border-box;
    left: 0;
    right: 0;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  input[type=submit] 
  {
    font-family: 'Inconsolata', monospace;
    font-size: larger;
    box-sizing: border-box;
    background-color: var(--fgColor);
    color: var(--bgColor);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-top:1em;
    bottom:5px;
  }
  input[type=submit]:hover {
    background-color: var(--directive);
  }
